<%= render "shared/header" %>

<div class="persons_tasks">
  <table>
    <tr>
      <th>Task Name</th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %> </td>
    </tr>
    <% end %>
  </table>
</div>
<%= render "shared/footer" %>
