
<% @people.each do |person| %>
  <% tasks = [] %>
  <% person.tasks.each do |task| %>
    <% unless task[:completed_date] %>
    <% tasks.push task %>
    <% end %>
  <% end %>
  <% id = person[:favorite_color] %>
  <h3 id="people"> <%= link_to "#{person[:name]}", "/people/#{person[:id]}", id: id %> has <%= tasks.length %> task(s) unaccounted for. </h3>
<% end %>

<%= render "/tasks/footer" %>
