<h1> People </h1>

<% @people.each do |person| %>

<ul>
  <li>
    <%= link_to "#{person.name}", "/people/#{person.id}/show"%>, <%= @tasks.where(person_id: person.id).count %>
  </li>
</ul>

<% end %>
