<h1>People List </h1>
<table>
  <tr>
    <th>Person Name</th>
    <th># of Completed Tasks </th>
    <th># of Uncompleted Tasks</th>
  </tr>

  <% @people.each do |person|  %>
  <tr>
    <td>
      <%= link_to "#{person.name}", "/people/#{person.id}" %>
    </td>

    <td>

    </tr>
<% end %>
</table>

<p> <%= link_to "Back to List of All Tasks", "/" %> <p>
