<h1> People </h1>

<% @people.each do |person| %>

<ul>
  <li>
    <%= person.id %>:
    <%= link_to "#{person.name}", "/people/#{person.id}/show"%>,
    Assigned Tasks: <%= @tasks.where(person_id: person.id).count %>,

    <% total_tasks = @tasks.where(person_id: person.id) %>
    <% incomplete = total_tasks.where(completed: "Yes").count %>

    Incomplete Tasks: <%= incomplete %>
  </li>
</ul>
<% end %>
