<section class="all_people">
  <table>
    <tr>
      <th colspan="2">People</th>
    </tr>
      <% @people.each do |person| %>
        <tr>
          <td><%= link_to "#{person.name}", "people/#{person.id}" %></td>
        </tr>
      <% end %>
  </table>
  <p class="return_home"><%= link_to "return to task list", "/" %></p>
</section>