<%= render partial: "tasks/header", locals: { link_name: "< Home",
                                        link_path: "/",
                                        title: "People",
                                        kicker: false,
                                        edit_button: false } %>

<section>
  <ul class="people">
    <% @people.each do |person| %>
    <li>
      <p>
        <%= link_to "#{person.first_name} #{person.last_name}", "people/show/#{person.id}" %>
      </p>

      <div>
        <p>
          <% a = @tasks.where(person_id: person.id) %>
          <%= a.count %>
        </p>
      </div>
    </li>
    <% end %>
  </ul>
</section>
