<div class="task_list">
  <h2> Person Details </h2>

  <ul>
    <li>
      Name: <%= @person[:name] %>
    </li>
  </ul>

  <%= link_to "All Tasks for #{@person[:name]}", "/people/#{@person[:id]}/tasks" %>

</div>



<%= render partial: "layouts/details", locals: { title: "Edit", button: false} %>
