<h1><%= @person.name %></h1>

<table>
  <tr>
    <th> Name </th>
    <th> Id </th>
  </tr>
  <tr>
    <td><%= @person.name %></td>
    <td><%= @person.id %></td>
  </tr>
</table>

<div class="home">
  <%= link_to "See all of #{@person.name}'s tasks", "/people/#{@person.id}/tasks" %>
</div>
