<h2>Person Details</h2>

<h3>Name: <%= @name %> </h3>
<h3>Occupation: <%= @occupation %> </h3>
<h3>Fave Color: <%= @color %> </h3>
<h3> <%= button_to "Tasks", "/people/#{@person[:id]}/tasks", method: :get %> </h3>
