<% zero_padded_id = @person.id.to_s %>
<% while zero_padded_id.length < 3 %>
  <% zero_padded_id.insert(0, "0") %>
<% end %>

<%= render partial: "/tasks/header", locals: { link_name: "< Home",
                                        link_path: "/",
                                        title: "Person ##{zero_padded_id}",
                                        kicker: false,
                                        edit_button: false } %>

<div class="container">
  <p>
    <span>First Name</span>
  </p>

  <p class="task-details">
    <%= @person.first_name %>
  </p>

  <p>
    <span>Last Name</span>
  </p>

  <% if !@person.last_name.nil? %>
    <p class="task-details">
      <%= @person.last_name %>
    </p>
  <% else %>
    <p class="task-details tbd">
      N/A
    </p>
  <% end %>

  <p>
    <span>Number of Tasks</span>
  </p>

  <p class="task-details num-of-tasks">
    <% a = Task.all.where(person_id: @person.id) %>
    <%= link_to a.count, "/people/#{@person.id}/tasks" %>
  </p>
</div>
