<h1><%= @person.name%>'s Recommendation History</h1>


  <ul>
    <% @tasks.each do |task| %>
    <li><%= task.taskname %></li>
    <% end %>
  </ul>

  <ul class = "mininav">
    <li><%= link_to "<< the bookworms", "/people" %></li>
  </ul>
