<header class="header">
  <div class="header_wrapper">
    <h1>Unigoat Book Recs</h1>
    <nav>
      <ul>
        <li><%= link_to "The List", root_path %></li>
        <li><%= link_to "Add a Book", "/tasks/new" %></li>
        <li><%= link_to "Unigoats", "/people" %></li>
        <li><%= link_to "My Goodreads", "https://www.goodreads.com/review/list/4306102?shelf=read" %></li>
      </ul>
    </nav>
  </div>
</header>
