<% content_for :head do %>
  <title>Todo List</title>
<% end %>

<h1 class='title'>Todo</h1>

<%= link_to '+ Task', new_task_path, class: 'button' %>

<main>
  <%= render 'complete_task_list', { all_tasks: @all_tasks, display_assigned_to: true } %>
</main>
