<header>
<h1>Task List</h1>
</header>

<section>
<ul style="list-style-type:none">
<% @tasks.each do |task| %>
  <% if task[:completed_date] != nil %>
      <li id='completed'><%= link_to "#{task[:name]}", "/tasks/#{task[:id]}"%></li>
    <% else %>
      <li><%= link_to "#{task[:name]}", "/tasks/#{task[:id]}"%></li>
      <% end %>
     <%= button_to "Delete Task", "tasks/#{task[:id]}", method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %>
  <% end %>
</ul>
</section>

<%= link_to "Add a New Task", "/tasks/new", id: "add" %>

