<h1>Task List</h1>
<h3>Get 'er done.</h3>

<table>
  <thead>
  	<tr>
  	  <th>Task</th>
  	  <th class="checkmark">Completed?</th>
  	</tr>
  </thead>
  <tbody>
    <% @all_tasks.each do |task| %>
      <tr>
      	<td><%= link_to task.name, "tasks/#{task.id}" %></td>
      	<td class="checkmark"><%= task.completed? %></td>
        <td><%= link_to "delete", "tasks/#{task.id}/delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a new task", "tasks/new" %>