 <section class="home">
  <table>
    <tr>
      <th colspan="2">Tasks</th>
    </tr>
   
  <% @tasks.each do |task| %>
    <tr>
      <td class="comp_status">
        <%= task.comp_date ? "\u2713" : "" %>
      </td>
      <td class="name">
        <% if task.comp_date %>
          <span class="complete"><%= link_to "#{task.name}", "tasks/#{task.id}" %></span>
        <% else %>
          <span class="incomplete"><%= link_to "#{task.name}", "tasks/#{task.id}" %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</section>
