<h1> Hi, here is a list of all your tasks! </h1>

<table border="1">
  <tr>
    <th>
      Task
    </th>
    <th>
      Task Name
    </th>
    <th>
    Completed
    </th>
    <th>
      Details
    </th>
  </tr>

    <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= task.id %>
      </td>
      <td>
        <%= task.name %>
      </td>
      <td>
        <%= task.completed %>
      </td>
      <td>
        <%= button_to "More Details", "/tasks/#{task.id}", method: :get %>
      </td>
      </tr>
  <% end %>
</table>
