<h1>Task List</h1>
<h3>Get 'er done.</h3>

<table>
  <thead>
  	<tr>
  	  <th>Task</th>
  	  <th>Completed?</th>
  	</tr>
  </thead>
  <tbody>
    <% @all_tasks.each do |task| %>
      <tr>
      	<td><%= link_to task.name, task_path(task) %></td>
      	<td><%= task.completed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
