<section class="form">
  <fieldset class="add_task">
    <legend>Add a Task</legend>
    <%= render partial: "form", locals: { name_value: "",
                                          name_placeholder: "required",
                                          desc_value: "",
                                          desc_placeholder: "optional",
                                          comp_date_value: "",
                                          submit_button: "add task" } %>
  </fieldset>
</section>

<p class="return_home"><%= link_to "return to task list", "/" %></p>
