<section class="form">
  <fieldset class="add_task">
    <legend>Add a Task</legend>
    <%= render partial: "form", locals: { url: nil,
                                          name_value: nil,
                                          desc_value: nil,
                                          desc_placeholder: "optional",
                                          submit_button: "add task" } %>
  </fieldset>
</section>

<p class="return_home"><%= link_to "return to task list", "/" %></p>
