<header>
  <h2>With freedom, books, flowers, and the moon, who could not be happy?</h2>
  <h3> &mdash; Oscar Wilde </h3>
</header>

<%= render partial: "form", locals: { url: tasks_path } %>

<ul class = "mininav">
  <li><%= link_to back_arrows("book list"), "/" %></li>
</ul>
