<section class="form">
  <fieldset class="edit_task">
    <legend>Edit a Task</legend>
    <%= render partial: "form", locals: { url: "/tasks/update/#{@task.id}",
                                          name_value: @task.name,
                                          name_placeholder: nil,
                                          desc_value: @task.desc,
                                          desc_placeholder: nil,
                                          submit_button: "update task" } %>
  </fieldset>
</section>

<p class="return_home"><%= link_to "return to task list", "/" %></p>
