<main>
  <nav>
    <p>
      <%= link_to "< Nevermind", "/" %>
    </p>
  </nav>

  <header>
    <div>
      <h1>Create A Task</h1>
    </div>
  </header>

  <%= render partial: "form", locals: { url: "/tasks/",
                                        submit_name: "Submit",
                                        required_place: "Required",
                                        optional_place: "Optional"} %>

</main>
