<header>
  <h2>Nothing is so painful to the human mind as a great and sudden change.</h2>
  <h3> &mdash; Mary Shelley </h3>
</header>

<%= form_for @task,url:"/tasks/#{@task.id}/edit" do |f| %>
  
  <%= render partial: 'form', locals: { f: f } %>

<% end %>
