<header>
  <h2>Nothing is so painful to the human mind as a great and sudden change.</h2>
  <h3> &mdash; Mary Shelley </h3>
</header>

<%= render partial: "form", locals: { url: "/tasks/#{:id}/edit" } %>

<ul class = "mininav">
  <li><%= link_to back_arrows("book list"), "/" %></li>
</ul>
