<p class='link'><%= link_to "Go back to task list manager", "/" %></p>

<h1>Edit task</h1>

<table>
  <tr>
    <td>
      <%= render :partial => 'form_edit_task' %>
    </td>
    <td>
      <center><%= render :partial => 'image_task_form' %>
    </td>
  </tr>
</table>
