<main>
  <nav>
    <p>
      <%= link_to "< Nevermind", "/" %>
    </p>
  </nav>

  <header>
    <div>
      <h1>
        <% zero_padded_id = @task.id.to_s %>
        <% while zero_padded_id.length < 3 %>
          <% zero_padded_id.insert(0, "0") %>
        <% end %>

        Edit Task #<%= zero_padded_id %>
      </h1>
    </div>
  </header>

  <%= render partial: "form", locals: { url: "/tasks/#{@task.id}",
                                        submit_name: "Edit",
                                        required_place: "",
                                        optional_place: ""} %>
</main>
