<!-- How did you make it past my form guard, you mad genius you! -->

<h3>How zen! A book without a title. Why don't you try again!</h3>
<%= link_to "Add a book, for reals", "/tasks/new" %>

<ul class = "mininav">
  <li><%= link_to "<< book list", "/" %></li>
</ul>
