<h1>Task List</h1>
<p>
  <a href= "/task/new">Add a new task</a>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Completed?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @all_tasks.each do |task|%>
      <tr>
        <td>
          <%= task.name %>
        </td>
        <td>
          <%= task.completed %>
        </td>
        <td>
          <%= task.completed_at %>
        </td>
      <td> <a href=<%="/task_#{task.id}/details"%>>Details</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
