<table>
  <tr>
  <th>id</th>
  <th>name</th>
  <th>completed?</th>

  
<% @tasks.each do |t|%>
  <tr>
      <div class="completed">
        <td><%= t.id %></td>
        <td><%= t.name %></td>
        <td><%= t.date_completed ? "Yes" : "No" %>
      </div>
      <% @id = t.id%>
    <td><%= button_to "Go to Task", "/task/#{@id}", method: :get %>
  </tr>
<% end%>

</table>

