<table>

  <tr>
    <th>Task Name</th>
    <th>Completion Status</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to "#{task[:name]}", "task/#{task[:id]}" %></td>
      <td><%= task[:completion_status] %></td>
    </tr>
  <% end %>

</table>
