<table>
  <tr>
  <th>id</th>
  <th>name</th>
  <th>date completed</th>
  </tr>
  
    <% @tasks.each do |t|%>
  <tr>
    <td><%= t.id %></td>
    <td><%= t.name %></td>
    <td><%= t.date_completed ? "completed" : "not completed" %>
      <% @id = t.id%>
    <td><%= button_to "Go to Task", "/task/#{@id}", method: :get %>
  </tr>
<% end %>

</table>

