<h1>Task list</h1>
<table>
  <tr>
    <th>Task</th>
    <th>Completed_on</th>
    <th>See the task<th>
  <tr>
    <% @tasks.each do |task| %>
    <td><%= task[:name] %></tb>
    <td><%= task[:completed_on] %></td>
    <td><%= link_to "About task", "/show/#{task[:id]}" %></td>
  </tr>
    <% end %>
</table>
