<header>
  <h2>With freedom, books, flowers, and the moon, who could not be happy?</h2>
  <h3> &mdash; Oscar Wilde </h3>
</header>

<%= form_for @task do |f| %>

  <%= render partial: 'form', locals: { f: f } %>

<% end %>
