
<table>
  <tr class="header">
  <td>Name</td>
  <td>Description</td>
  <td>Completion Status</td>
  <td>Completion Date</td>

  </tr>
  <tr>
    <td><%= @onedeet[:taskname] %></td>
    <td><%= @onedeet[:description] %></td>
    <td><%= @onedeet[:comp_status] %></td>
    <td><%= @onedeet[:datecomp] %></td>
  </tr>

</table>
