<table>

  <tr>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Completion_status</th>
    <th>Completion Date</th>
  </tr>

  <tr>
    <td><%= @detail.name %></td>
    <td><%= @detail.description %></td>
    <td><%= @detail.completion_status %></td>
    <td><%= @detail.completed_at %></td>
  </tr>

</table>
