<h1>Task Masters</h1>
<table>
  <tr>
    <th>Name</th>
    <th># of Incomplete Tasks</th>
  </tr>
  <% @person.to_a.each do |person| %>
  <tr>
    <td><%= link_to "#{person.name}", "/people/show/#{person.id}" %></td>
    <td><%= person.tasks.where(completed_at: nil).count %></td>
  </tr>
  <% end %>
  <tr>
    <td>
    <pre></pre>
    </td>
  </tr>
  <tr>
    <td><%= button_to "To Do List", "/", method: :get %></td>
    <td><%= button_to "Responsible People", "/people", method: :get %></td>
  </tr>
</table>
