<h1>Task Masters:</h1>

<section>
  <table border ="0">
    <tr>
      <th>Name</th>
      <th>Tasks Remaining</th>
    </tr>

    <% @people.each do |person| %>

      <tr>
        <td><%= person.name %></td>
        <td class="incomplete_count"><%= person.tasks.not_complete %></th>
        <td><%= button_to "View Details", "/people/#{person.id}", method: "get" %></td>
      </tr>
    <% end %>

  </table>
</section>
<%= render "task/footer" %>
