<table>
  <tr>
    <th>Tasks</th>
  </tr>
  <% array_of_tasks = @person.tasks.collect {|tasks| tasks.name} %>
  <% array_of_tasks.each do |task| %>
  <tr>
    <td><%= task %></td>
  </tr>
    <% end %>
  </tr>
</table>
