<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Description
    </th>
    <th>
      Status
    </th>
    <% if @task.completed_date.present? %>
      <th>Completion Date</th>
    <% end %>
  </tr>
  <tbody>
    <tr>
      <td>
        <%= @task.name %>
      </td>
      <td>
        <%= @task.description %>
      </td>
      <td>
        <%= @task.completed_date ? "Completed" : "Not Completed"%>
      </td>
      <% if @task.completed_date.present? %>
        <td><%= @task.completed_date %></td>
      <% end %>
    </tr>
  </tbody>
</table>
