<h1>Confirm Deletion</h1>

<%= render "task_table" %>

<p>
  <%= button_to "Yes, Delete!", { action: "delete", id: @task.id }, method: :delete %>
   <!-- button_to "Delete Image", { action: "delete", id: @image.id }, method: :delete, data: { confirm: "Are you sure?" } -->
  <%= link_to "No, Go Back!", "/" %>
</p>
