<h1>Task List (Rails!)</h1>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Completed?
    </th>
    <th>
      Show
    </th>
  </tr>
  <tbody>
    <% @all_tasks.each do |data| %>
    <tr>
      <td>
        <%= data.name %>
      </td>
      <td>
        <%= data.completed_date ? "Completed" : "Not Completed"%>
      </td>
      <td>
        SHOW
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
