<h1>Add new task</h1>

<%= form_for @task do |f| %>

  <%= render partial: "form", :locals => {:f => f} %>

  <%= f.submit %>
<% end %>

<div class="home">
  <%= link_to "Back to Task List", "/tasks"%>
</div>
