<h1>PLEASE WORK</h1>

<table>
  <tr>
    <th> Id Num </th>
    <th> Name </th>
    <th> Description </th>
    <th> Date Completed </th>
  </tr>

  <% @all_tasks.each_with_index do |task, index| %>
    <div>
      <tr>
        <td> <%= task[:id] %> </td>
        <td> <%= link_to "#{task[:name]}", "/task/#{index}" %> </td>
        <td> <%= task[:description] %> </td>
        <td> <%= task[:completed_at] %> </td>
      </tr>
    </div>
  <% end %>
</table>
