<h1> TASK DETAILS </h1>

<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Completed? </th>
    <th> Date Completed </th>
  </tr>
  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.description %></td>
    <td><% @task.completed_at ? "Yes" : "No" %></td>
    <td><%= @task.completed_at %></td>
  </tr>
</table>

<div class="home">
  <%= link_to "Back to Task List", "/tasks"%>
</div>
