<table>
  <tr>
    <th>
      <h3>Completed?</h3>
    </th>
    <th>
      <h3>Task</h3>
    </th>
    <th>
      <h3>Description</h3>
    </th>
    <th>
      <h3>Completion Date</h3>
    </th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
    <td>
      <%= task.completed_at ? "X" : "" %>
    </td>
    <td>
      <%= task.name %>
    </td>
    <td>
      <%= task.description %>
    </td>
    <td>
      <%= task.completed_at ? task.completed_at : "" %>
    </td>
  </tr>
  <% end %>

</table>
