<table>
  <tr>
    <th>
      <h3>&check;</h3>
    </th>
    <th>
      <h3>Task</h3>
    </th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
    <td>
      <% if task.completed_at %>
      &check;
      <% end %>
    </td>
    <td>
      <%= link_to task.name, "/show/" + task.id.to_s %>
    </td>
  </tr>
  <% end %>

</table>
