<a href="/" title="Carl's Taskmaster">Home</a>
<a href="/about" title="Learn more about Carl.">About</a>
<a href="/people" title="Who exists in this terrifying world?">People</a>
<a href="/create" title="Create a new task!">Create New Task</a>
