<table class="table_data">
  <tr="table_headers">
    <th>Task Name</th>
    <th>Completed?</th>
  </tr>

  <% @all_tasks.each_with_index do |task, index| %>
    <tr>
      <td><%= link_to "#{task.name}", "/show/#{task.id}" %></td>
      <td><% if task.completed_at.nil? %>
            Not yet.
          <% else %>
            Yes!
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
