<% content_for :head do %>
  <title>Carl's Taskmaster: Some words about Carl himself!</title>
<% end %>

<article>
  <h1>About Carl</h1>

  <img src="/assets/images/carl.gif" height="246" width="500" alt="Carl from Llamas with Hats standing in front of a field of destruction and saying unto his best mate, Paul, 'We're friends. And friendship is two pals munching on a well-cooked face together.'" title="Carl from Llamas with Hats standing in front of a field of destruction and saying unto his best mate, Paul, 'We're friends. And friendship is two pals munching on a well-cooked face together.'" />

  <p>Carl is the most murderous llama that ever existed in this land. As you might imagine, he puts a lot of prep work into his murder and mayhem operations. That means he needs to keep track of all the steps on the way to crafting a terrible scene for Paul. To keep track of all these important tasks, Carl created this lovely Taskmaster app.</p>
</article>
