<form id="delete" class="" action="" method="post">
  <legend><h2>Which tasks do you want to delete?</h2></legend>

  <% @tasks.each do |task| %>
    <label><input name="id[<%= task.id  %>]" type="checkbox" /><%= task.name %><%= task.description ? ": #{ task.description }" : "" %></label>
  <% end %>

  <input type="submit" />
</form>
