<% content_for :head do %>
  <title>Carl's Taskmaster: This is not the page you're looking for!</title>
<% end %>

<% stormtrooper_text = "A stormtrooper pointing at the error message: 404 error. This is not the page you're looking for. Move along... Move along..." %>

<img src="/assets/images/stormtrooper_404.jpg" height="322" width="450" alt="<%= stormtrooper_text %>" title="<%= stormtrooper_text %>" />
