<% headings = ["Taskmaster: Master Your Tasks", "Ye Olde List of Tasks", "Ye Olde List of To Doeth", "Carl Says You Must Do These Things", "To Do", "TASKMASTER", "FINISH THEM"] %>
<% heading = headings.sample %>


<h1><%= heading %></h1>

<% unless @tasks.nil? %>
  <% @tasks.each do |task| %>
    <p class="<%= task.date_complete ? 'finished' : 'unfinished' %>"><%= link_to "#{ task.name }", "/task/#{ task.id }", title: "#{ task.name }" %></p>
  <% end %>
<% end %>
