<h1>Ye Olde List of Tasks</h1>

<% unless @tasks.nil? %>
  <% @tasks.each do |task| %>
    <p class="<%= task.date_complete ? 'finished' : 'unfinished' %>"><%= link_to "#{ task.name }", "/task/#{ task.id }", title: "#{ task.name }" %></p>
  <% end %>
<% end %>
