

  <% @tasks.each do |task| %>
    <p> <%= link_to "#{task[:name]}", "task_lists/#{task[:id]}" %>
    <%= task[:completed_at]%></p>
  <% end %>
  
<!-- :#use the id to pull the whole record -->

<!-- <%= link_to "Create New Task", "/new" %> -->
