h1 {
  font-family: "Modak", "Courier New", sans-serif;
  text-align: center;
  font-size: 55px;
  font-weight: lighter;
  margin: 20px;
}

body {
  width: 960;
  margin-left: 0;
  margin-right: 0;
  font-family: "Lato", sans-serif;
  background-color: rgb(51, 102, 255);
}

.index {
  background-color: rgba(255, 51, 204, .6);
  margin: 0 auto;
  width: 960px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(51, 204, 51);
  border-radius: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

.persons_tasks {
  background-color: rgba(255, 51, 204, .6);
  margin: 0 auto;
  width: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(51, 204, 51);
  border-radius: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.person_show {
  background-color: rgba(255, 51, 204, .6);
  margin: 0 auto;
  width: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(51, 204, 51);
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form_pages {
  width: 850px;
  margin: 0 auto;
}

fieldset {
  background-color: rgba(255, 51, 204, .6);
  margin: 0 auto;
  width: 820px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(51, 204, 51);
  border-radius: 15px;
}

.all_people, .show {
  background-color: rgba(255, 51, 204, .6);
  margin: 0 auto;
  width: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(51, 204, 51);
  padding-left: 30px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.confirm {
  background-color: rgba(255, 51, 204, .6);
  margin: 0 auto;
  width: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(51, 204, 51);
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

}

table {
  margin: 0 auto;
}

p {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.extra_padding {
  padding-right: 60px;
}


.people_list {
  font-size: 20px;
  text-align: center;
}

a:link {
  color: rgb(0, 204, 153);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 204, 153);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
