/* layout & general styles */

body {
  width: 960px;
  background: #fefffe;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  margin: 2% auto;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0 0 5px 0;
}

main {
  padding: 20px 0;
}

nav {
  font-size: 28px;
}

nav a {
  padding: 20px;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

.finished a:hover, .finished a:active {
  text-decoration: none;
}

.kill a:hover, .kill a:active {
  color: #c33;
}

.edit a:hover, .edit a:active {
  color: #33c;
}

.done a:hover, .done a:active {
  color: #000;
}

a:hover, a:active {
  color: #3c3; //#33c;
}

.number {
  font-family: "Arial Narrow", sans-serif;
}

/* home page styles */

table {
  border-collapse: collapse;
  margin: auto;
  font-size: 18px;
}

table, tr {
  border: 1px solid black;
}

thead {
  background: #090;
  color: #fff;
}

tr.tasks {
  background: #dcdddc;
}

.finished a {
  color: #090;
  text-decoration: line-through;
}

.edit, .done {
  font-size: 30px;
}

.edit {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

.kill {
  padding-left: 10px;
  padding-right: 5px;
}

/* form styles */

label {
  display: block;
  margin: 10px;
}

form {
  display: block;
  text-align: left;
  width: 600px;
  margin: auto;
}

#error {
  color: #c00;
}

.inline * {
  display: inline;
}

.hidden * {
  visibility: hidden;
}

.finish-him * {
  display: inline;
  margin: auto;
  text-align: center;
}

.finish-him input {
  background-image:url('/asssets/images/carl.gif');
  background-repeat:no-repeat;
  background: #000;
  color: #c00;
  font-family: "Copperplate", sans-serif;
  font-size: 34px;
}


article p {
  font-size: 22px;
  text-align: justify;
}

.task h2, .task-options h2 {
  font-family: "Copperplate", "Arial Bold", sans-serif;
  font-size: 28px;
}

.finished .person, .unfinished .person {
  color: #000;
  font-family: "Copperplate", "Arial Bold", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

#people thead td {
  font-size: 26px;
  font-weight: bold;
  padding: 5px 20px;
}

.person-name {
  font-family: "Copperplate", "Arial Bold", sans-serif;
  font-size: 24px;
  padding-left: 10px;
}

#people .number {
  background: #dcdddc;
}
