/*Google fonts
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Dancing Script', cursive;*/


body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

table {
	margin: 0 auto;
	min-width: 350px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

thead {
	background-color: #336699;
	color: #fff;
}

.button {
	text-align: center;
	margin: 15px;
}


.delete_button a {
	font-family: 'Dancing Script', cursive;
	text-decoration: none;
	color: black;
}

.delete_button a:hover {
	font-weight: 700;
}