// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.5em;
}
//
// .task_list {
//   width: 600px;
//   margin: auto;
//   text-align: auto;
// }

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}


a:link.completed {
  color: transparent;
  text-decoration: none;
}

a:hover.completed {
  color: #33CC33;
}

a:link.not_completed {
  color: #000000;
  text-decoration: none;
}

a:visited.not_completed {
  color: #000000;
}

a:hover.not_completed {
  color: transparent;
}


a:link.delete {
  color: #5C5C5C;
  text-decoration: none;
}

a:visited.delete {
  color: #5C5C5C;
}

a:hover.delete {
  color: #FF0000;
}


input[type="submit"] {
  padding: 7px 10px;
  font-size: 1em;
  border-radius: 5px;
  // font-weight: bold;
}
