// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
  padding-left: 0;
}
//
// .task_list {
//   width: 600px;
//   margin: auto;
//   text-align: auto;
// }
//
// a:link.invisible {
//   color: transparent;
// }
//
// a:hover.invisible {
//   color: #33CC33;
// }
//
// .invisible {
//   visibility: hidden;
// }
//
// // a:hover.invisible {
// //   visibility: visible;
// // }
//
// .visible {
//   display: inline;
// }
//
input[type="submit"].confirm {
  // font-weight: bold;
  padding: 7px 10px;
  font-size: 1em;
  border-radius: 10px;
  // margin-left: 35px;
  // display: block;
}

.visible {
  color: black;
}

a:link.completed {
  color: transparent;
  text-decoration: none;
}

a:hover.completed {
  color: #33CC33;
}


a:link.not_completed {
  color: #000000;
  text-decoration: none;
}

a:hover.not_completed {
  color: transparent;
}


a:link.delete {
  color: #5C5C5C;
  text-decoration: none;
}

a:visited.delete {
  color: #5C5C5C;
}

a:hover.delete {
  color: #FF0000;
}
