/*// Place all the styles related to the TaskListsRails controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

html {
  background: #fff url(linedpaper.png) repeat fixed center;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

table {
  margin: 30px auto;
}

h1, .comp_date, .desc, .create_task_link, .delete_task_link {
  text-align: center;
}

table, th, tr, .add_task {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

th {
  background-color: #D3F649;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.2em;
}

.task td {
  border: 1px solid #000;
  border-collapse: collapse;
}

tr, td {
  padding: 10px;
}

.checkbox a:link, .checkbox a:visited {
  text-align: center;
  color: #DC0095;
  font-size: 1.3em;
}

.incomplete a{
  font-weight: bold;
}

.complete a {
  text-decoration: line-through;
  color: #BABABA;
}

.name, {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.6em;
}

/* Form */
.form {
  padding-top: 30px;
  width: 600px;
  margin: 0 auto;
}

.name_form, .desc_form, .comp_date_form {
  display: block;
  margin-bottom: 20px;
}

/* Links */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #56CAD0;
}

.return_home {
  text-align: center;
  margin: 30px;
}

/* Delete & Update */

.delete_update {
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 13px;
  margin-left: 20px;
}

.delete_update a:link {
  color: #BABABA;
}

.delete_update a:visited {
  color: #BABABA;
}

.update_link {
  font-style: italic;
  margin-right: 15px;
}

.delete_update a:hover {
  color: #000;
  font-style: normal;
}
