 #completed {
  text-decoration: line-through;
}

#completed input {
  display: inline;
}

html {
  background-image: url("dark_embroidery.png");
}

h1{
  text-decoration: underline;
}

body {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 960px;
  background: #AEC7D1;
  padding: 15px;
  margin-top: 115px;
  border-radius: 5px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #353543;
}

table a:hover {
  color: #fff;
}

#task_list h2 {
  text-decoration: underline;
}

#add {
  font-family: 'Patrick Hand', cursive;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-size: 20px;
  background-color: #fff;
}

table {
  padding: 0px;
  margin: auto;
  border-collapse: collapse;
}

table, td {
   border: 1px solid gray;
}

table, th {
  border: 1px solid gray;
  padding: 5px;
}

td {
  padding: 10px;
}

section {
  padding-bottom: 20px;
}

fieldset label {
  display: block;
}

input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.delete {
  font-family: 'Patrick Hand', cursive;
  padding: 5px;
  margin: 10px;
  font-size: 15px;
  background-color: #fff;
}

.complete_task {
  font-family: 'Patrick Hand', cursive;
  padding: 5px;
  margin: 10px;
  font-size: 15px;
  background-color: #fff;
}


