// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_list {
  width: 600px;
  margin: auto;
  text-align: auto;
}

.invisible {
  display: none;
}

.visible {
  display: inline;
}

input[type="submit"].confirm {
  // font-weight: bold;
  padding: 10px 20px 10px 20px;
  font-size: 100px;
  // margin-left: 35px;
  // display: block;
}
