/*// Place all the styles related to the TaskListsRails controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

html {
  background: #fff url(linedpaper.png) repeat fixed center;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

table {
  margin: 50px auto;
}

h1, .comp_date {
  text-align: center;
}

table, th, tr, td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 9px;
}

th {
  background-color: #D3F649;
  font-size: 1.2em;
}

.comp_status {
  text-align: center;
  color: #DC0095;
}

.complete {
  text-decoration: line-through;
}

.name {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.6em;
}

/* Links */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #DC0095;
}

.return_home {
  text-align: center;
  margin: 30px;
}
