// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin: 0 auto;
}

table, th, td {
  border: 1px solid #000;
  background-color: #F5F4FB; /* white */
}

th {
  height: 40px;
  vertical-align: bottom;
}

th, td {
  padding: 5px;
}

th:first-child, td:first-child {
  border-right: 1px solid #E2A7B5; /* pink */
}

th, td {
  border-bottom: 1px solid #75BCD1; /* blue */
}
tr:last-child td {
  border-bottom: 1px solid #000;
}
