<footer>
  <nav>
    <%= button_to "Add", "/tasks/new", {method: :get, class: "confirm"} %>
    <%= button_to "Clear All Completed", "/tasks/delete/delete_all", {method: :get, class: "confirm"} %>
  </nav>
</footer>
